config system global
    set hostname "vm-aws-4-fgt-01"
end

config system settings
    set inspection-mode flow
end

config system admin
    edit "${admin_username}"
        set accprofile "super_admin"
        set vdom "root"
        set password "${admin_password}"
    next
end

config system interface
    edit "port1"
        set mode dhcp
        set allowaccess ping https ssh
    next
    edit "port2"
        set mode dhcp
        set allowaccess ping
    next
end

config router static
    edit 1
        set gateway ${wan_gateway}
        set device "port1"
    next
    edit 2
        set dst 16.0.0.0 255.0.0.0
        set gateway ${port2_gateway}
        set device "port2"
    next
    edit 3
        set dst 48.0.0.0 255.0.0.0
        set gateway ${port2_gateway}
        set device "port2"
    next
    edit 4
        set dst 10.10.0.0 255.255.0.0
        set gateway ${port2_gateway}
        set device "port2"
    next
    edit 5
        set dst 21.0.0.0 255.255.255.248
        set gateway ${port2_gateway}
        set device "port2"
    next
    edit 6
        set dst 22.0.0.0 255.255.255.248
        set gateway ${port2_gateway}
        set device "port2"
    next
end

config firewall address
    edit "trex-clients"
        set subnet 16.0.0.0 255.0.0.0
    next
    edit "trex-servers"
        set subnet 48.0.0.0 255.0.0.0
    next
end

config firewall service custom
    edit "tcp-dataplane"
        set tcp-portrange 21 23 25 53 110 443 445 1494 1521 1935 3306 3389 5003
    next
    edit "udp-dataplane"
        set udp-portrange 12 53 1212
    next
    edit "http-https-app-layer"
        set tcp-portrange 80 8080 8081
    next
end

config firewall profile-protocol-options
    edit "http-https-app-layer"
        config http
            set ports 80 8080 8081
        end
    next
end

config firewall ssl-ssh-profile
    edit "certificate-inspection"
        config https
            set sni-server-cert-check disable
        end
    next
end

config firewall policy
    edit 1
        set name "trex-clients-to-servers"
        set srcintf "port2"
        set dstintf "port2"
        set srcaddr "trex-clients"
        set dstaddr "trex-servers"
        set action accept
        set schedule "always"
        set service "tcp-dataplane" "udp-dataplane" "ALL_ICMP"
        set logtraffic all
    next
    edit 2
        set name "trex-clients-http-https"
        set srcintf "port2"
        set dstintf "port2"
        set srcaddr "trex-clients"
        set dstaddr "all"
        set action accept
        set schedule "always"
        set service "http-https-app-layer"
        set inspection-mode proxy
        set utm-status enable
        set profile-protocol-options "http-https-app-layer"
        set ssl-ssh-profile "certificate-inspection"
        set webfilter-profile "default"
        set logtraffic all
    next
    edit 3
        set name "default-deny-logged"
        set srcintf "port2"
        set dstintf "port2"
        set srcaddr "all"
        set dstaddr "all"
        set action deny
        set schedule "always"
        set service "ALL"
        set logtraffic all
    next
end
